<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shie1d.inkbelly">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/InkBellyTheme">
        <activity
            android:name=".welcome.splash.SplashActivity"
            android:taskAffinity="@string/taskAffinity_main"
            android:theme="@style/InkBellyTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.pre.PreStartActivity"
            android:taskAffinity="@string/taskAffinity_main"
            android:theme="@style/InkBellyTheme.FullScreen" />
        <activity
            android:name=".StoriesActivity"
            android:taskAffinity="@string/taskAffinity_main" />

        <service
            android:name=".welcome.pre.UserInfoService"
            android:enabled="true"
            android:exported="false"
            android:process="@string/process_user_info" />

        <provider
            android:name=".databases.user.UserInfoContentProvider"
            android:authorities="com.shie1d.inkbelly.provider.user"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>